---
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon_48x48.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon_64x64.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="/favicon_128x128.png" />
    <link rel="icon" type="image/png" sizes="256x256" href="/favicon_256x256.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap" /></noscript>
    <script defer src="https://cloud.umami.is/script.js" data-domains="go.wildchild.camp" data-website-id="3cedd56f-5d62-4530-ac73-2a3611130b83"></script>
  </head>
  <body class="font-sans text-carbon bg-white antialiased">
    <slot />
  </body>
</html>
